@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-2xl;
}

.button {
  @apply border border-sky-600 rounded-lg bg-sky-500 px-2 py-1 text-white
       hover:bg-sky-600 active:bg-sky-700 hover:shadow hover:border-sky-700
         active:outline outline-[1px] outline-sky-700 text-center disabled:bg-gray-400
          disabled:border-gray-500 disabled:hover:border-gray-700 disabled:active:outline-none;
}
.button.red {
  @apply border border-red-600 rounded-lg bg-red-500 px-2 py-1 text-white
       hover:bg-red-600 active:bg-red-700 hover:shadow hover:border-red-700
         active:outline outline-[1px] outline-red-700 text-center disabled:bg-gray-400
          disabled:border-gray-500 disabled:hover:border-gray-700 disabled:active:outline-none;
}
.altButton {
  @apply border p-1 rounded border-[#709090] bg-slate-200 shadow active:bg-slate-300 cursor-pointer
       text-gray-700 active:text-black hover:outline outline-[1px] outline-[#709090] flex items-center justify-center;
}
.altButton.small {
  @apply border p-0 rounded border-[#709090] bg-slate-200 shadow active:bg-slate-300 cursor-pointer
       text-gray-700 active:text-black hover:outline outline-[1px] outline-[#709090] flex items-center justify-center
       leading-none !size-5;
}

.segment {
  @apply border border-[#709090] bg-slate-100 rounded shadow px-6 py-4 hover:shadow-lg;
}

input {
  @apply bg-white border border-[#709090] rounded px-1 hover:border-black
         active:bg-slate-100 focus:border-blue-500 hover:shadow-sm focus:shadow w-[195px] cursor-text;
}

label {
  @apply w-full flex justify-between gap-2;
}

select {
  @apply border border-[#709090] bg-white rounded px-1 cursor-pointer;
}

.popup {
  @apply absolute inset-0 w-screen h-screen bg-white/50 flex justify-center items-center;
}
